<p id="notice"><%= notice %></p>

<p>
  <strong>Studio:</strong>
  <%= @project.studio_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @project.content %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @project.industry %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @project.technology %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @project.kind %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
